<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="col-md-4 col-md-offset-4" >    
    <form id="form" role="form" action="<?= BASE_URL;?>unidadesmedidas/actionAgregar" method="POST" autocomplete="off" data-toggle="validator">
        <legend>Agregar Unidades de Medida</legend>     
        <div class="row">
            <div class="form-group control-group col-md-6 col-md-offset-2">
                <label for="gru_uni_med" class="control-label">Grupo de la Unidad de Medida</label>
                <div class="controls">                    
                    <select class="form-control select_grupo" onchange="seleccionarGrupo(this)">
                        <option value="0">Seleccionar</option>
                        <?php
                        $grupos = Array();
                        foreach ($this->grupos_unidades_medidas as $value) 
                        {?>
                            <option value="<?= ucwords($value->gru_uni_med)?>"><?= ucwords($value->gru_uni_med);?></option>
                        <?php                                                
                        }?>                        
                    </select>
                    <input type="text" class="form-control hidden gru_uni_med" onkeyup="seleccionarGrupo(this)">
                    <input type="hidden" class="form-control" name="medida[gru_uni_med]" id="gru_uni_med">
                </div>
            </div>
            <div class="form-group control-group col-md-2">
                <label for="" class="control-label">&nbsp;</label>
                <div class="controls">
                    <button type="button" class="btn btn-success"  role="button" visible="true" onclick="agregarGrupo(this)">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group control-group col-md-6 col-md-offset-2">
                <label for="nom_uni_med" class="control-label">Nombre de la Unidad de Medida</label>
                <div class="controls">
                    <input type="text" class="form-control" name="medida[nom_uni_med]" id="nom_uni_med">
                </div>
            </div>
            <div class="form-group control-group col-md-2">
                <label for="sim_uni_med" class="control-label">Símbolo</label>
                <div class="controls">
                    <input type="text" class="form-control" name="medida[sim_uni_med]" id="sim_uni_med">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2 col-md-offset-3 form-actions">
                <button type="submit" class="btn btn-primary" role="button">Agregar</button>                   
            </div>
            <div class="form-group col-md-2 col-md-offset-1 form-actions">
                <a href="<?= BASE_URL;?>unidadesmedidas" class="btn btn-primary col-md-offset-1"  role="button">Volver</a>            
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <?php 
        if(isset($this->msg))
        {?>
            <script id="msgModal">
                ejecutarModal("<?= $this->msg;?>","Agregar Unidades de Medida",{label: "Ok"});
            </script>
        <?php
        }
        ?>
    </form>
</div>