<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="col-md-4 col-md-offset-4" >    
    <form role="form">
        <legend>Consultar Unidades de Medida</legend> 
        <div class="row">
            <div class="form-group control-group col-md-8 col-md-offset-2">
                <label for="gru_uni_med" class="control-label">Grupo de la Unidad de Medida</label>
                <div class="controls">
                    <input readonly type="text" class="form-control" value="<?= $this->unidadesmedidas->gru_uni_med;?>">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group control-group col-md-6 col-md-offset-2">
                <label for="nom_uni_med" class="control-label">Nombre de la Unidad de Medida</label>
                <div class="controls">
                    <input readonly type="text" class="form-control" value="<?= $this->unidadesmedidas->nom_uni_med;?>">
                </div>
            </div>
            <div class="form-group control-group col-md-2">
                <label for="sim_uni_med" class="control-label">Símbolo</label>
                <div class="controls">
                    <input readonly type="text" class="form-control" value="<?= $this->unidadesmedidas->sim_uni_med;?>">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group control-group col-md-4 col-md-offset-4">
                <a href="<?= BASE_URL;?>unidadesmedidas" class="btn btn-primary col-md-offset-5"  role="button">Volver</a>            
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-12">&nbsp;</div>
        </div>
    </form>
</div>