<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="col-md-4 col-md-offset-4" >    
    <form role="form" method="POST" action="<?= BASE_URL;?>unidadesmedidas/actionEditar/<?= $this->unidadesmedidas->id_uni_med;?>">
        <legend>Editar Unidades de Medida</legend> 
        <div class="row">
            <div class="form-group control-group col-md-8 col-md-offset-2">
                <label for="gru_uni_med" class="control-label">Grupo de la Unidad de Medida</label>
                <div class="controls">
                    <input type="text" class="form-control" value="<?= $this->unidadesmedidas->gru_uni_med;?>" name="medida[gru_uni_med]" id="gru_uni_med" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group control-group col-md-6 col-md-offset-2">
                <label for="nom_uni_med" class="control-label">Nombre de la Unidad de Medida</label>
                <div class="controls">
                    <input type="text" class="form-control" value="<?= $this->unidadesmedidas->nom_uni_med;?>" name="medida[nom_uni_med]" id="nom_uni_med" autofocus>
                </div>
            </div>
            <div class="form-group control-group col-md-2">
                <label for="sim_uni_med" class="control-label">Símbolo</label>
                <div class="controls">
                    <input type="text" class="form-control" value="<?= $this->unidadesmedidas->sim_uni_med;?>" name="medida[sim_uni_med]" id="sim_uni_med">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group control-group col-md-12">
                <button type="submit" class="btn btn-primary col-md-offset-3">Editar</button>                                
                <a href="<?= BASE_URL;?>unidadesmedidas" class="btn btn-primary col-md-offset-3"  role="button">Volver</a>            
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <?php 
            if(isset($this->msg))
            {?>
            <script id="msgModal">
                ejecutarModal("<?= $this->msg;?>","Editar Unidades de Medida",{label: "Ok"});
            </script>
            <?php
            }
        ?>          
    </form>
</div>