<?php
if($this->unidadesmedidas > 0)    
{?>
<script>
    $(document).ready(function() {                
        dataTables.aoColumnDefs= [{"bSortable": false, "aTargets": [ 2 ] }];
        $('.table').dataTable(dataTables);        
    });    
</script>
<?php
}?>
<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table table-condensed">
            <thead>
                <th class="text-center">Grupo</th>
                <th class="text-center">Unidad de Medida</th>
                <th class="text-center">Opciones</th>
            <thead>
            <tbody>
                <?php 
                
                if($this->unidadesmedidas > 0)
                {                    
                    foreach ($this->unidadesmedidas as $key => $value) 
                    {?>
                <tr>
                    <td class="text-center"><?= ucfirst($value->gru_uni_med);?></td>
                    <td class="text-center"><?= ucfirst($value->nom_uni_med);?></td>
                    <td class="text-center">                        
                        <a href="<?= BASE_URL."unidadesmedidas/actionConsultar/".$value->id_uni_med;?>" class="btn btn-primary"  role="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                        <a href="<?= BASE_URL."unidadesmedidas/actionEditar/".$value->id_uni_med;?>" class="btn btn-primary"  role="button">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-primary"  role="button"  onclick="confirmarEliminar('<?= BASE_URL."unidadesmedidas/actionEliminar/".$value->id_uni_med;?>');">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>                        
                    </td>
                </tr>
                <?php
                    }
                }
                else
                {?>
                <tr>
                    <td class="text-center" colspan="5">No Existen datos a mostrar.</td>
                </tr>
                <?php    
                }?>            
            </tbody>
        </table>        
        <br>
        <a href="<?= BASE_URL;?>unidadesmedidas/actionAgregar" class="btn btn-primary col-md-offset-6" role="button">Agregar</a>        
        <?php 
        if(isset($this->msg))
        {?>
            <script id="msgModal">
                ejecutarModal("<?= $this->msg;?>","unidadesmedidas",{label: "Ok"});
            </script>
        <?php
        }
        ?>  
    </div>
    <div class="col-md-3"></div>
</div>