<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="col-md-4 col-md-offset-4" >    
    <form id="form" role="form" action="<?= BASE_URL;?>usuarios/actionAgregar" method="POST">
        <legend>Agregar Usuario</legend>     
        <div class="row">
            <div class="form-group control-group col-md-6">
                <label for="log_usu" class="control-label">Usuario</label>
                <div class="controls">
                    <input type="text" class="form-control" name="usuario[log_usu]" id="log_usu" placeholder="Usuario" autofocus>
                </div>
            </div>
            <div class="form-group control-group col-md-6">
                <label for="pas_usu" class="control-label">Contraseña</label>
                <div class="controls">
                    <input type="password" class="form-control" name="usuario[pas_usu]" id="pas_usu" placeholder="Contraseña" >
                </div>
            </div>        
        </div>
        <div class="row">
            <div class="form-group control-group col-md-6">  
                <label for="nom_usu" class="control-label">Nombre</label>
                <div class="controls">
                    <input type="text" class="form-control" name="usuario[nom_usu]" id="nom_usu" placeholder="Nombre" >
                </div>
            </div>        
            <div class="form-group control-group  col-md-6">
                <label for="ape_usu" class="control-label">Apellido</label>
                <div class="controls">
                    <input type="text" class="form-control" name="usuario[ape_usu]" id="ape_usu" placeholder="Apellido">                
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group control-group col-md-6">
                <label for="ema_usu" class="control-label">Email</label>
                <div class="controls">
                    <input type="text" class="form-control" name="usuario[ema_usu]" id="ema_usu" placeholder="Email" >
                </div>
            </div>
            <div class="form-group control-group col-md-6">
                <label for="tel_usu" class="control-label">Teléfono</label>
                <div class="controls">
                    <input type="text" class="form-control" name="usuario[tel_usu]" id="tel_usu" placeholder="Teléfono" >
                </div>
            </div>   
        </div>
        <div class="row">
            <div class="form-group control-group col-md-6 col-md-offset-3">
                <label for="id_rol" class="control-label">Roles</label>
                <?php 
                if(count($this->roles) > 0)
                {;?>
                <div class="controls">
                    <select id="id_rol" name="usuario[id_rol][]" class="form-control">                    
                        <option value="0">Seleccionar</option>
                        <?php
                        foreach ($this->roles as $key => $value) 
                        {?>
                        <option value="<?= $value->id;?>"><?= ucfirst($value->nom_rol);?></option>
                        <?php
                        }?>
                    </select>                
                </div>                
                <?php
                }
                else
                {?>
                <div class="form-group control-group col-md-12">
                    <label for="dir_usu" class="control-label">No se Han cargados Roles en el sistemas</label>                
                </div>
                <?php    
                }?>
            </div>
            <div class="form-group col-md-2 form-actions">
                <label class="control-labe">&nbsp;</label>  
                <div class="controls">
                    <button type="button" class="btn btn-success" onclick="cargarModal('roles','ajaxAgregar','refrescarRoles(\'id_rol\')')">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group control-group col-md-12">
                <label for="dir_usu" class="control-label">Dirección</label>
                <div class="controls">
                    <textarea id="dir_usu" name="usuario[dir_usu]" class="form-control" rows="3" placeholder="Dirección"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 col-md-offset-3 form-actions">
                <button type="submit" class="btn btn-primary" role="button">Agregar</button>                   
                <a href="<?= BASE_URL;?>usuarios" class="btn btn-primary col-md-offset-1"  role="button">Volver</a>            
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <?php 
        if(isset($this->msg))
        {?>
            <script id="msgModal">
                ejecutarModal("<?= $this->msg;?>","Agregar Usuario",{label: "Ok"});
            </script>
        <?php
        }
        ?>
    </form>
</div>