<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="col-md-4 col-md-offset-4" >    
    <form role="form">
        <legend>Consultar Usuario</legend> 
        <div class="row">
            <div class="form-group col-md-6 ">
                <label for="log_usu">Usuario</label>
                <input type="text" class="form-control" value="<?= $this->usuario->log_usu;?>" readonly>
            </div>
        </div>
        <div class="row">
            <div class="form-group control-group col-md-7"></div>
            <div class="form-group col-md-6">
                <label for="nom_usu">Nombre</label>
                <input type="text" class="form-control" value="<?= $this->usuario->nom_usu;?>" readonly>
            </div>
            <div class="form-group col-md-6">
                <label for="ape_usu">Apellido</label>
                <input type="text" class="form-control" value="<?= $this->usuario->ape_usu;?>" readonly>
            </div>        
        </div>
        <div class="row">
            <div class="form-group control-group col-md-6">
                <label for="ema_usu">Email</label>
                <div class="controls">
                    <input type="text" class="form-control" name="emag_usu" value="<?= $this->usuario->ema_usu;?>" readonly>
                </div>
            </div>
            <div class="form-group control-group col-md-6">
                <label for="tel_usu">Teléfono</label>
                <div class="controls">
                    <input type="text" class="form-control" name="tel_usu" value="<?= $this->usuario->tel_usu;?>" readonly>
                </div>
            </div>                   
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-md-offset-3">
                <label for="id_rol">Roles</label>            
                <select class="form-control" disabled>
                <?php

                    $id_rol = explode(",", $this->usuario->id_rol);                

                    foreach ($this->roles as $key => $value) 
                    {
                        $selected = "";                    
                        if (in_array($value->id, $id_rol))                     
                        {
                            $selected = "selected";
                        }?>
                    <option value="<?= $value->id;?>" <?= $selected;?>><?= ucfirst($value->nom_rol);?></option>
                    <?php
                    }?>            
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group control-group col-md-12">
                <label for="di_usu">Dirección</label>
                <div class="controls">
                    <textarea name="dir_usu" class="form-control" rows="3" readonly>
                    <?= $this->usuario->dir_usu;?>
                    </textarea>
                </div>
            </div>
        </div>
        <div class="row">
        <?php
            if($this->volver)
            {?>
            <a href="<?= BASE_URL;?>usuarios" class="btn btn-primary col-md-offset-5"  role="button">Volver</a>            
            <?php
            }
            ?>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-12">&nbsp;</div>
        </div>
    </form>
</div>