<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="col-md-4 col-md-offset-4" >    
    <form role="form" method="POST" action="<?= BASE_URL;?>usuarios/actionEditar/<?= $this->usuario->id;?>">
        <legend>Editar Usuario</legend> 
        <div class="row">
            <div class="form-group col-md-6 ">
                <label for="log_usu">Usuario</label>
                <div class="controls">
                    <input type="text" class="form-control" id="log_usu" value="<?= $this->usuario->log_usu;?>" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="nom_usu">Nombre</label>
                <div class="controls">
                    <input type="text" class="form-control" id="nom_usu" name="usuario[nom_usu]" value="<?= $this->usuario->nom_usu;?>" autofocus>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="ape_usu">Apellido</label>
                <div class="controls">
                    <input type="text" class="form-control" id="ape_usu" name="usuario[ape_usu]" value="<?= $this->usuario->ape_usu;?>" >
                </div>
            </div>        
        </div>
        <div class="row">
            <div class="form-group control-group col-md-6">
                <label for="ema_usu">Email</label>
                <div class="controls">
                    <input type="text" class="form-control" name="usuario[ema_usu]" id="ema_usu" value="<?= $this->usuario->ema_usu;?>" placeholder="Email">
                </div>
            </div>
            <div class="form-group control-group col-md-6">
                <label for="tel_usu">Teléfono</label>
                <div class="controls">
                    <input type="text" class="form-control" name="usuario[tel_usu]" id="tel_usu" value="<?= $this->usuario->tel_usu;?>" placeholder="Teléfono" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-md-offset-3">
                <label for="id_rol">Roles</label>
                <div class="controls">                    
                    <select id="id_rol" name="usuario[id_rol][]" class="form-control" required>
                        <option value="0">Seleccionar</option>  
                        <?php
                        $id_rol = explode(",", $this->usuario->id_rol);
                        foreach ($this->roles as $key => $value) 
                        {
                            $selected = "";
                            if (in_array($value->id, $id_rol)) 
                            {
                                $selected = "selected";
                            }?>
                        <option value="<?= $value->id;?>" <?= $selected;?>><?= ucfirst($value->nom_rol);?></option>
                        <?php
                        }?>
                    </select>            
                </div>
            </div>
            <div class="form-group col-md-2 form-actions">
                <label class="control-labe">&nbsp;</label>  
                <button type="button" class="btn btn-success" onclick="cargarModal('roles','ajaxAgregar','refrescarRoles(\'id_rol\')')">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="form-group control-group col-md-12">
                <label for="di_usu">Dirección</label>
                <div class="controls">                
                    <textarea id="dir_usu" name="usuario[dir_usu]" class="form-control" rows="3" placeholder="Dirección">
                    <?= trim($this->usuario->dir_usu);?>
                    </textarea>                
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group control-group col-md-12">
                <button type="submit" class="btn btn-primary col-md-offset-3">Editar</button>                                
                <a href="<?= BASE_URL;?>usuarios" class="btn btn-primary col-md-offset-3"  role="button">Volver</a>            
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <?php 
            if(isset($this->msg))
            {?>
            <script id="msgModal">
                ejecutarModal("<?= $this->msg;?>","Editar Usuario",{label: "Ok"});
            </script>
            <?php
            }
        ?>          
    </form>
</div>