<?php
if($this->usuarios > 0)    
{?>
<script>
    $(document).ready(function() {                
        $('.table').dataTable(dataTables);        
    });    
</script>
<?php
}?>
<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table table-condensed">
            <thead>
                <th class="text-center">Nombre</th>
                <th class="text-center">Apellido</th>
                <th class="text-center">Usuario</th>
                <th class="text-center">Cargo</th>
                <th class="text-center">Opciones</th>
            <thead>
            <tbody>
                <?php 
                
                if($this->usuarios > 0)
                {                    
                    foreach ($this->usuarios as $key => $value) 
                    {?>
                <tr>
                    <td class="text-center"><?= ucfirst($value->nom_usu);?></td>
                    <td class="text-center"><?= ucfirst($value->ape_usu);?></td>
                    <td class="text-center"><?= $value->log_usu;?></td>
                    <td class="text-center"><?= ucfirst($value->nom_rol);?></td>
                    <td class="text-center">                        
                        <a href="<?= BASE_URL."usuarios/actionConsultar/".$value->id."/TRUE";?>" class="btn btn-primary"  role="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                        <a href="<?= BASE_URL."usuarios/actionEditar/".$value->id;?>" class="btn btn-primary"  role="button">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <!--<a href="<?= BASE_URL."usuarios/actionEliminar/".$value->id;?>" class="btn btn-primary"  role="button">-->
                        <a onclick="confirmarEliminar('<?= BASE_URL."usuarios/actionEliminar/".$value->id;?>');" class="btn btn-primary"  role="button">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>                        
                    </td>
                </tr>
                <?php
                    }
                }
                else
                {?>
                <tr>
                    <td class="text-center" colspan="5">No Existen datos a mostrar.</td>
                </tr>
                <?php    
                }?>            
            </tbody>
        </table>        
        <br>
        <a href="<?= BASE_URL;?>usuarios/actionAgregar" class="btn btn-primary col-md-offset-6" role="button">Agregar</a>        
        <?php 
        if(isset($this->msg))
        {?>
            <script id="msgModal">
                ejecutarModal("<?= $this->msg;?>","Usuarios",{label: "Ok"});
            </script>
        <?php
        }
        ?>  
    </div>
    <div class="col-md-3"></div>
</div>