<?php
$required = Array("text","tel","email","number","select","textarea","date","password");
$min = Array("number","select");
$max = Array("number");
$minlength = Array("text","tel","email","textarea","date","password");
$maxlength = Array("text","tel","email","textarea","date","password");
$pattern = Array("text","tel","email","number","textarea","date","password");
$regex = Array("text","tel","email","textarea","date","password");
$callback = Array("text","tel","email","number","select","textarea","date","password");
$ajax = Array("text","tel","email","number","select","textarea","date","password");
$maxchecked = Array("checkbox");
$minchecked = Array("checkbox");

//Herramientas::debug($this->elementos);
?>
<div class="row">
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">    
        <div class="row">
            <div class="form-group control-group col-md-4 col col-md-offset-4">
                <label for="" class="control-label">Lista de Campos</label>
                <div class="controls">                    
                    <select class="form-control" onchange="cambiarFormulario(this)" autofocus>
                        <option value="0">Seleccione Uno</option>
                        <?php
                        foreach ($this->elementos as $val) 
                        {
                            echo '<option value="'.$val->id_cam.'" tipo="'.$val->tip_cam.'" '.$select.'>'.$val->des_cam.'</option>';
                        }
                        ?>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <form role="form" method="POST" action="<?php print BASE_URL.'formularios/actionEditar/'.$this->controlador.'/'.$this->metodo;?>">            
            <div class="row contenedor">
                <input type="hidden" name="formulario[controlador]" value="<?= $this->controlador;?>">
                <input type="hidden" name="formulario[metodo]" value="<?= $this->metodo;?>">
                <input type="hidden" name="formulario[id_cam]" id="id_cam" >
                <div class="form-group control-group col-md-10 col col-md-offset-1">
                    <div class="row hidden">
                        <div class="form-group control-group col-md-4">  
                            <label for="minchecked" class="control-label">Mínimo</label>
                            <div class="controls">
                                <input type="number" min="0" class="form-control" name="formulario[minchecked][val]" id="minchecked" placeholder="Mínimo">
                            </div>
                        </div>
                        <div class="form-group control-group col-md-8">  
                            <label for="minchecked_msg" class="control-label">Mensaje</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="formulario[minchecked][msg]" id="minchecked_msg" placeholder="Mensaje">
                            </div>
                        </div>
                    </div>
                    <div class="row hidden">
                        <div class="form-group control-group col-md-4">  
                            <label for="maxchecked" class="control-label">Máximo</label>
                            <div class="controls">
                                <input type="number" min="0" class="form-control" name="formulario[maxchecked][val]" id="maxchecked" placeholder="Máximo">
                            </div>
                        </div>
                        <div class="form-group control-group col-md-8">  
                            <label for="maxchecked_msg" class="control-label">Mensaje</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="formulario[maxchecked][msg]" id="maxchecked_msg" placeholder="Mensaje">
                            </div>
                        </div>
                    </div>
                    <div class="row hidden">
                        <div class="form-group control-group col-md-4">  
                            <label for="min" class="control-label">Mínimo</label>
                            <div class="controls">
                                <input type="number" min="0" class="form-control" name="formulario[min][val]" id="min" placeholder="Mínimo">
                            </div>
                        </div>
                        <div class="form-group control-group col-md-8">  
                            <label for="min_msg" class="control-label">Mensaje</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="formulario[min][msg]" id="min_msg" placeholder="Mensaje">
                            </div>
                        </div>
                    </div>
                    <div class="row hidden">
                        <div class="form-group control-group col-md-4">  
                            <label for="max" class="control-label">Máximo</label>
                            <div class="controls">
                                <input type="number" min="0" class="form-control" name="formulario[max][val]" id="max" placeholder="Máximo">
                            </div>
                        </div>
                        <div class="form-group control-group col-md-8">  
                            <label for="max_msg" class="control-label">Mensaje</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="formulario[max][msg]" id="max_msg" placeholder="Mensaje">
                            </div>
                        </div>
                    </div>
                    <div class="row hidden">
                        <div class="form-group control-group col-md-4">  
                            <label for="minlength" class="control-label">Mínima Longitud</label>
                            <div class="controls">
                                <input type="number" min="0" class="form-control" name="formulario[minlength][val]" id="minlength" placeholder="Mínima longitud">
                            </div>
                        </div>
                        <div class="form-group control-group col-md-8">  
                            <label for="minlength_msg" class="control-label">Mensaje</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="formulario[minlength][msg]" id="minlength_msg" placeholder="Mensaje">
                            </div>
                        </div>
                    </div>
                    <div class="row hidden">
                        <div class="form-group control-group col-md-4">  
                            <label for="maxlength" class="control-label">Máxima Longitud</label>
                            <div class="controls">
                                <input type="number" min="0" class="form-control" name="formulario[maxlength][val]" id="maxlength" placeholder="Máxima longitud">
                            </div>
                        </div>
                        <div class="form-group control-group col-md-8">  
                            <label for="maxlength_msg" class="control-label">Mensaje</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="formulario[maxlength][msg]" id="maxlength_msg" placeholder="Mensaje">
                            </div>
                        </div>
                    </div>
                    <div class="row hidden">
                        <div class="form-group control-group col-md-6">  
                            <label for="regex" class="control-label">Expresión Regular</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="formulario[regex][val]" id="regex" placeholder="Expresión Regular">
                            </div>
                        </div>
                        <div class="form-group control-group col-md-6">  
                            <label for="regex_msg" class="control-label">Mensaje</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="formulario[regex][msg]" id="regex_msg" placeholder="Mensaje">
                            </div>
                        </div>
                    </div>
                    <div class="row hidden">
                        <div class="form-group control-group col-md-2">  
                            <label for="required" class="control-label">Requerido</label>
                            <div class="controls checkbox">
                                <label>
                                    <input type="checkbox" value="1"  name="formulario[required][val]" id="required">
                                </label>
                            </div>
                        </div>
                        <div class="form-group control-group col-md-8 col-md-offset-2">  
                            <label for="required_msg" class="control-label">&nbsp;</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="formulario[required][msg]" id="required_msg" placeholder="Mensaje">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary col-md-offset-4">Editar</button>
                <a href="<?php print BASE_URL;?>formularios" class="btn btn-primary col-md-offset-2" role="button">Volver</a>
            </div>
            <div class="row">
                <div class="col-md-12">&nbsp;</div>
            </div>
            <?php 
            if(isset($this->msg))
            {?>
            <script>
                bootboxOpc.title = "Validar Formularios";
                bootboxOpc.message ="<?php print $this->msg;?>";
                bootbox.dialog(bootboxOpc);        
            </script>
            <?php
            }?>          
        </form>
    </div>
    <div class="col-md-3"></div>    
</div>