<?php
$required = Array("text","tel","email","number","select","textarea","date","password");
$min = Array("number","select");
$max = Array("number");
$minlength = Array("text","tel","email","textarea","date","password");
$maxlength = Array("text","tel","email","textarea","date","password");
$pattern = Array("text","tel","email","number","textarea","date","password");
$regex = Array("text","tel","email","textarea","date","password");
$callback = Array("text","tel","email","number","select","textarea","date","password");
$ajax = Array("text","tel","email","number","select","textarea","date","password");
$maxchecked = Array("checkbox");
$minchecked = Array("checkbox");
?>
<div class="row">
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-3"></div>    
    <div class="col-md-6">    
        <form role="form" method="POST" action="<?php print BASE_URL.'formularios/actionEditar/'.$this->controlador.'/'.$this->metodo;?>">
            <div class="tabbable">
                <ul class="nav nav-tabs">
            <?php
            $cont = 0;            
            foreach ($this->elementos as $key => $value) 
            {
                $active = '';
                if($cont == 0) 
                {
                    $active = 'class="active"';
                    $cont++;
                }
                ?>                
                    <li <?php print $active ?> ><a href="#<?php print $key;?>" data-toggle="tab"><?php print $value->des_cam; ?></a></li>                
            <?php
            }?>
                </ul>
                <div class="tab-content">
                <?php
                $cont = 0;            
                foreach ($this->elementos as $key => $value) 
                {
                    $active = '';
                    if($cont == 0) 
                    {
                        $active = 'active';
                        $cont++;
                    }
                    ?>                
                    <div class="tab-pane <?php print $active;?>" id="<?php print $key;?>">
                        <!--
                        <br>
                        <div class="row">
                            <div class="form-group control-group col-md-4">  
                                <label for="tip_dat" class="control-label">Tipo de Dato</label>
                                <div class="controls">
                                    <select class="form-control" name="<?php print $key;?>[tip_dat]" id="tip_dat">
                                        <option value="0">Seleccionar</option>
                                        <?php                                        
                                        foreach ($this->tipo_dato as $val) 
                                        {
                                            $selected = "";
                                            if($val->id_tipo_dato == $this->tipo_campo[$key][0])
                                            {
                                                $selected = "selected";
                                            }
                                            echo '<option '.$selected.' value="'.$val->id_tipo_dato.'">'.$val->nombre_tipo_dato.'</option>';
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                        </div>-->
                    <?php   
                    if(in_array($value->tip_cam, $minchecked))
                    {
                        $val_att = '';
                        $val_msg = '';
                        foreach ($value->validaciones as $val) 
                        {
                            if($val->tip == "data-validation-minchecked-minchecked")
                            {
                                $val_att = $val->val;
                                $val_msg = $val->msg;
                            }                            
                        }?>                        
                        <div class="row">
                            <div class="form-group control-group col-md-4">  
                                <label for="minchecked" class="control-label">Mínimo</label>
                                <div class="controls">
                                    <input type="number" value="<?php print $val_att; ?>" min="0" class="form-control" name="<?php print $key;?>[minchecked][val]" id="minchecked" placeholder="Mínimo">
                                </div>
                            </div>
                            <div class="form-group control-group col-md-8">  
                                <label for="minchecked_msg" class="control-label">Mensaje</label>
                                <div class="controls">
                                    <input type="text" value="<?php print $val_msg; ?>" class="form-control" name="<?php print $key;?>[minchecked][msg]" id="min_msg" placeholder="Mensaje">
                                </div>
                            </div>
                        </div>
                    <?php
                    }
                    
                    if(in_array($value->tip_cam, $maxchecked))
                    {
                        $val_att = '';
                        $val_msg = '';
                        foreach ($value->validaciones as $val) 
                        {
                            if($val->tip == "data-validation-maxchecked-maxchecked")
                            {
                                $val_att = $val->val;
                                $val_msg = $val->msg;
                            }                            
                        }?>
                        <div class="row">
                            <div class="form-group control-group col-md-4">  
                                <label for="maxchecked" class="control-label">Máximo</label>
                                <div class="controls">
                                    <input type="number" value="<?php print $val_att; ?>" min="0" class="form-control" name="<?php print $key;?>[maxchecked][val]" id="maxchecked" placeholder="Máximo">
                                </div>
                            </div>
                            <div class="form-group control-group col-md-8">  
                                <label for="maxchecked_msg" class="control-label">Mensaje</label>
                                <div class="controls">
                                    <input type="text" value="<?php print $val_msg; ?>" class="form-control" name="<?php print $key;?>[maxchecked][msg]" id="maxchecked_msg" placeholder="Mensaje">
                                </div>
                            </div>
                        </div>
                    <?php
                    }
                    
                    if(in_array($value->tip_cam, $min))
                    {
                        $val_att = '';
                        $val_msg = '';
                        foreach ($value->validaciones as $val) 
                        {
                            if($val->tip == "min")
                            {
                                $val_att = $val->val;
                                $val_msg = $val->msg;
                            }                            
                        }?>
                        <div class="row">
                            <div class="form-group control-group col-md-4">  
                                <label for="min" class="control-label">Mínimo</label>
                                <div class="controls">
                                    <input type="number" value="<?php print $val_att; ?>" min="0" class="form-control" name="<?php print $key;?>[min][val]" id="min" placeholder="Mínimo">
                                </div>
                            </div>
                            <div class="form-group control-group col-md-8">  
                                <label for="min_msg" class="control-label">Mensaje</label>
                                <div class="controls">
                                    <input type="text" value="<?php print $val_msg; ?>" class="form-control" name="<?php print $key;?>[min][msg]" id="min_msg" placeholder="Mensaje">
                                </div>
                            </div>
                        </div>
                    <?php
                    }
                    
                    if(in_array($value->tip_cam, $max))
                    {
                        $val_att = '';
                        $val_msg = '';
                        foreach ($value->validaciones as $val) 
                        {
                            if($val->tip == "max")
                            {
                                $val_att = $val->val;
                                $val_msg = $val->msg;
                            }                            
                        }?>
                        <div class="row">
                            <div class="form-group control-group col-md-4">  
                                <label for="max" class="control-label">Máximo</label>
                                <div class="controls">
                                    <input type="number" value="<?php print $val_att; ?>" min="0" class="form-control" name="<?php print $key;?>[max][val]" id="max" placeholder="Máximo">
                                </div>
                            </div>
                            <div class="form-group control-group col-md-8">  
                                <label for="max_msg" class="control-label">Mensaje</label>
                                <div class="controls">
                                    <input type="text" value="<?php print $val_msg; ?>" class="form-control" name="<?php print $key;?>[max][msg]" id="max_msg" placeholder="Mensaje">
                                </div>
                            </div>
                        </div>
                    <?php
                    }
                    
                    if(in_array($value->tip_cam, $minlength))
                    {
                        $val_att = '';
                        $val_msg = '';
                        foreach ($value->validaciones as $val) 
                        {
                            if($val->tip == "minlength")
                            {
                                $val_att = $val->val;
                                $val_msg = $val->msg;
                            }                            
                        }?>
                        <div class="row">
                            <div class="form-group control-group col-md-4">  
                                <label for="minlength" class="control-label">Mínima Longitud</label>
                                <div class="controls">
                                    <input type="number" value="<?php print $val_att; ?>" min="0" class="form-control" name="<?php print $key;?>[minlength][val]" id="minlength" placeholder="Mínima longitud">
                                </div>
                            </div>
                            <div class="form-group control-group col-md-8">  
                                <label for="minlength_msg" class="control-label">Mensaje</label>
                                <div class="controls">
                                    <input type="text" value="<?php print $val_msg; ?>" class="form-control" name="<?php print $key;?>[minlength][msg]" id="minlength_msg" placeholder="Mensaje">
                                </div>
                            </div>
                        </div>
                    <?php
                    }
                                        
                    if(in_array($value->tip_cam, $maxlength))
                    {
                        $val_att = '';
                        $val_msg = '';
                        foreach ($value->validaciones as $val) 
                        {
                            if($val->tip == "maxlength")
                            {
                                $val_att = $val->val;
                                $val_msg = $val->msg;
                            }                            
                        }?>
                        <div class="row">
                            <div class="form-group control-group col-md-4">  
                                <label for="maxlength" class="control-label">Máxima Longitud</label>
                                <div class="controls">
                                    <input type="number" value="<?php print $val_att; ?>" min="0" class="form-control" name="<?php print $key;?>[maxlength][val]" id="maxlength" placeholder="Máxima longitud">
                                </div>
                            </div>
                            <div class="form-group control-group col-md-8">  
                                <label for="maxlength_msg" class="control-label">Mensaje</label>
                                <div class="controls">
                                    <input type="text" value="<?php print $val_msg; ?>" class="form-control" name="<?php print $key;?>[maxlength][msg]" id="maxlength_msg" placeholder="Mensaje">
                                </div>
                            </div>
                        </div>
                    <?php
                    }
                    /*
                    if(in_array($value->tip_cam, $pattern))
                    {
                        $val_att = '';
                        $val_msg = '';
                        foreach ($value->validaciones as $val) 
                        {
                            if($val->tip == "pattern")
                            {
                                $val_att = $val->val;
                                $val_msg = $val->msg;
                            }                            
                        }?>
                        <div class="row">
                            <div class="form-group control-group col-md-6">  
                                <label for="pattern" class="control-label">Patrón</label>
                                <div class="controls">
                                    <input type="text" value="<?php print $val_att; ?>" class="form-control" name="<?php print $key;?>[pattern][val]" id="pattern" placeholder="Patrón">
                                </div>
                            </div>
                            <div class="form-group control-group col-md-6">  
                                <label for="pattern_msg" class="control-label">Mensaje</label>
                                <div class="controls">
                                    <input type="text" value="<?php print $val_msg; ?>" class="form-control" name="<?php print $key;?>[pattern][msg]" id="pattern_msg" placeholder="Mensaje">
                                </div>
                            </div>
                        </div>
                    <?php
                    }
                    */
                    if(in_array($value->tip_cam, $regex))
                    {
                        $val_att = '';
                        $val_msg = '';
                        foreach ($value->validaciones as $val) 
                        {
                            if($val->tip == "data-validation-regex-regex")
                            {
                                $val_att = $val->val;
                                $val_msg = $val->msg;
                            }                            
                        }
                        ?>
                        <div class="row">
                            <div class="form-group control-group col-md-6">  
                                <label for="regex" class="control-label">Expresión Regular</label>
                                <div class="controls">
                                    <input type="text" value="<?php print $val_att; ?>" value="<?php print $val_att; ?>" class="form-control" name="<?php print $key;?>[regex][val]" id="regex" placeholder="Expresión Regular">
                                </div>
                            </div>
                            <div class="form-group control-group col-md-6">  
                                <label for="regex_msg" class="control-label">Mensaje</label>
                                <div class="controls">
                                    <input type="text" value="<?php print $val_msg; ?>" class="form-control" name="<?php print $key;?>[regex][msg]" id="regex_msg" placeholder="Mensaje">
                                </div>
                            </div>
                        </div>
                    <?php
                    }
                    /*
                    if(in_array($value->tip_cam, $callback))
                    {
                        $val_att = '';
                        $val_msg = '';
                        foreach ($value->validaciones as $val) 
                        {
                            if($val->tip == "data-validation-callback-callback")
                            {
                                $val_att = $val->val;
                                $val_msg = $val->msg;
                            }                            
                        }?>
                        <div class="row">
                            <div class="form-group control-group col-md-6">  
                                <label for="callback" class="control-label">Callback</label>
                                <div class="controls">
                                    <input type="text" value="<?php print $val_att; ?>" class="form-control" name="<?php print $key;?>[callback][val]" id="callback" placeholder="Callback">
                                </div>
                            </div>
                            <div class="form-group control-group col-md-6">  
                                <label for="callback_msg" class="control-label">Mensaje</label>
                                <div class="controls">
                                    <input type="text" value="<?php print $val_msg; ?>" class="form-control" name="<?php print $key;?>[callback][msg]" id="callback_msg" placeholder="Mensaje">
                                </div>
                            </div>
                        </div>
                    <?php
                    }
                    
                    if(in_array($value->tip_cam, $ajax))
                    {
                        $val_att = '';
                        $val_msg = '';
                        foreach ($value->validaciones as $val) 
                        {
                            if($val->tip == "data-validation-ajax-ajax")
                            {
                                $val_att = $val->val;
                                $val_msg = $val->msg;
                            }                            
                        }?>
                        <div class="row">
                            <div class="form-group control-group col-md-6">  
                                <label for="ajax" class="control-label">URl (Ajax)</label>
                                <div class="controls">
                                    <input type="text" value="<?php print $val_att; ?>" class="form-control" name="<?php print $key;?>[ajax][val]" id="ajax" placeholder="URL">
                                </div>
                            </div>
                            <div class="form-group control-group col-md-6">  
                                <label for="ajax_msg" class="control-label">Mensaje</label>
                                <div class="controls">
                                    <input type="text" value="<?php print $val_msg; ?>" class="form-control" name="<?php print $key;?>[ajax][msg]" id="ajax_msg" placeholder="Mensaje">
                                </div>
                            </div>
                        </div>
                    <?php
                    }*/
                    
                    if(in_array($value->tip_cam, $required))
                    {
                        $val_att = '';
                        $val_msg = '';
                        foreach ($value->validaciones as $val) 
                        {
                            if($val->tip == "required")
                            {
                                $val_att = 'checked';
                                $val_msg = $val->msg;
                            }                            
                        }?>
                        <div class="row">
                            <div class="form-group control-group col-md-2">  
                                <label for="required" class="control-label">Requerido</label>
                                <div class="controls">
                                    <input type="checkbox" value="1" <?php print $val_att; ?> class="form-control" name="<?php print $key;?>[required][val]" id="required">
                                </div>
                            </div>
                            <div class="form-group control-group col-md-10">  
                                <label for="required_msg" class="control-label">&nbsp;</label>
                                <div class="controls">
                                    <input type="text" value="<?php print $val_msg; ?>" class="form-control" name="<?php print $key;?>[required][msg]" id="required_msg" placeholder="Mensaje">
                                </div>
                            </div>
                        </div>
                    <?php
                    }?>                        
                    </div>
                <?php
                }?>                
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary col-md-offset-4">Editar</button>
                <a href="<?php print BASE_URL;?>formularios" class="btn btn-primary col-md-offset-2" role="button">Volver</a>
            </div>
            <div class="row">
                <div class="col-md-12">&nbsp;</div>
            </div>
            <?php 
                if(isset($this->msg))
                {?>
<!--
                    <div class="row" style="margin-top: 15px;" >
                        <div class="col-md-1"></div>
                        <div class="col-md-10 text-center alert <?php print $this->class;?>" style="padding-left: 10%">
                                <h4><?php print $this->msg;?></h4>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
-->
                <script>
                    bootboxOpc.title = "Cambiar Contraseña";
                    bootboxOpc.message ="<?php print $this->msg;?>";
                    bootbox.dialog(bootboxOpc);        
                </script>
                <?php
                }
            ?>          
        </form>
    </div>
    <div class="col-md-3"></div>    
</div>