<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table table-condensed">
            <thead>
                <th class="text-center">Modulos</th>
                <?php 
                $max = 0;
                foreach ($this->elementos as $key => $value)                
                {                    
                    if($value["max_elemento"] > $max)
                    {
                        $max = $value["max_elemento"];
                    }                    
                }
                ?>
                <th class="text-center" colspan="<?php print $max;?>">Opciones</th>                
            <thead>
            <tbody>
                <?php 
                $max_td = 0;
                foreach ($this->elementos as $key => $value) 
                {
                    if($value["max_elemento"] > 0)
                    {
                ?>
                <tr>
                    <td class="text-center"><?php print ucfirst($key);?></td>
                    <?php                   
                    $contador = 0;
                    foreach ($value["datos"] as $val) 
                    {
                        if($val["elementos"] > 0)
                        { 
                            $contador++;
                    ?>                    
                    <td class="text-center">
                        <a href="<?php print BASE_URL."formularios/actionEditar/$key/".$val["archivo"]."/";?>" class="btn btn-primary col-md-offset-5" role="button"><?php print ucfirst($val["archivo"]); ?></a>
                    </td>
                        <?php
                        }
                    }
                    if($contador > $max_td)
                    {
                        $max_td = $contador;
                    }
                    
                    if(($max_td - $contador) > 0)
                    {?>
                       <td class="text-center"></td> 
                    <?php
                    }?>                    
                </tr>
                <?php
                    }
                }?>            
            </tbody>
        </table>        
        <br>
        
        <?php 
        if(isset($this->msg))
        {?>
        <!--
            <div class="row" style="margin-top: 15px;" >
                <div class="col-md-4"></div>
                <div class="col-md-4 alert <?php print $this->class;?> text-center">
                        <h4><?php print $this->msg;?></h4>
                </div>
                <div class="col-md-4"></div>
            </div>
        -->
        <script>
            bootboxOpc.title = "Formularios";
            bootboxOpc.message ="<?php print $this->msg;?>";
            bootbox.dialog(bootboxOpc);        
        </script>
        <?php
        }
        ?>  
    </div>
    <div class="col-md-3"></div>
</div>
