<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="col-md-6 col-md-offset-3" >    
    <form role="form" action="<?= BASE_URL;?>roles/actionAgregar" method="POST">
        <legend>Agregar Rol</legend> 
        <div class="row">
            <div class="form-group control-group col-md-4 col-md-offset-4">
                <label for="nom_rol" class="control-label">Nombre</label>
                <div class="controls">
                    <input type="text" class="form-control" name="nom_rol" id="nom_rol" placeholder="Nombre del rol" autofocus required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable">
                    <div class="form-group control-group col-md-4">
                        <ul class="nav nav-pills nav-stacked">
                        <?php
                            foreach ($this->select_permisos as $key => $value)  
                            {                        
                                if($key == 0)
                                {
                                    echo '<li class="active" ><a href="#'.$value->nom_per.'" data-toggle="tab">'.ucwords($value->nom_per).'</a></li>';
                                }
                                else
                                {
                                    echo '<li><a href="#'.$value->nom_per.'" data-toggle="tab">'.ucwords($value->nom_per).'</a></li>';
                                }

                            }
                        ?>
                        </ul>                    
                    </div>
                    <div class="tab-content">
                        <?php
                            foreach ($this->select_permisos as $i => $value) 
                            {                        
                                if($i == 0)
                                {
                                    echo '<div class="tab-pane active" id="'.$value->nom_per.'">';
                                }
                                else
                                {
                                    echo '<div class="tab-pane" id="'.$value->nom_per.'">';
                                }
                                
                                foreach ($this->permisosRoles as $j => $valor) 
                                {                                
                                    if($value->nom_per == current(explode(" ", str_replace("_", " ", $valor->fk_per))))
                                    {
                                        $valores = explode("_", $valor->fk_per);                                        
                                        echo '<div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="'.$valor->id_per.'">
                                                '.trim(ucwords($valores[1]." ".$valores[0])).'
                                            </label>
                                        </div>';
                                    }
                                }
                                echo '</div>';
                            }
                        ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-md-offset-2">
            <button type="submit" class="btn btn-primary" role="button">Agregar</button>               
            <a href="<?= BASE_URL;?>roles" class="btn btn-primary col-md-offset-1" role="button">Volver</a>
        </div>
        <?php 
        if(isset($this->msg))
        {?>
            <script id="msgModal">
                ejecutarModal("<?= $this->msg;?>","Agregar Rol",{label: "Ok"});
            </script>
        <?php
        }
        ?>
    </form>
</div>