<div class="row">
    <div class="col-md-12">&nbsp;</div> 
</div>
<div class="row">
    <div class="col-md-12">&nbsp;</div> 
</div>    
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <a href="#" class="thumbnail">
      <img src="<?php echo $_layoutParams['ruta_img'] ?>/construccion4.jpg" alt="">
    </a>
  </div>
</div>
